/* ---------------------------------------------------------- */
/*  vallex.css for VALLEX 1.0,  (C)) Zdenek Zabokrtsky, 2003  */
/* ---------------------------------------------------------- */


/* ---------- spolecna nastaveni ---------- */


* { 
       font-family: Tahoma,sans-serif;
/*       color: green; */
       font-size: 10pt;
       color: saddlebrown;
 }


IMG { border:0 }



/* ----------- vzhled odkazu ----------- */

A { 
         text-decoration: none;
         color: saddlebrown;
 }


A:active {}

A:visited {}

A:hover {
          background-color:firebrick;
          color:lightyellow;
          text-decoration: none;
}

/* ---------- nastaveni pozadi jednotlivych oken ramce --------- */

/*BODY.header { background-color:#F9E09B; }
BODY.selector { background-color:#FBE8B1; }
BODY.framelist { background-color:#FCEFCA; }
BODY.wordentry { 
 background-color:#FFF6D9; 
 margin-left:10pt;
}
*/


/*
BODY.header { background-color:#E0F99B; }
BODY.selector { background-color:#E8FBB1; }
BODY.framelist { background-color:#EFFCCA; }
BODY.wordentry { 
 background-color:#F6FFD9; 
 margin-left:10pt;
}*/



BODY.header { background-color:#F2E0B6; }
BODY.selector { background-color:#FBE8bf; }
BODY.framelist { background-color:#fff2d5; }
BODY.wordentry { 
 background-color:#FFFCEB; 
 margin-left:10pt;
}




/* ------------  tlacitka v ramci header --------------- */

TD.button { 
           border: saddlebrown solid 1px;    
               
 }

TD.selected-button { 
           background-color:firebrick;  
           border: firebrick solid 1px;    
           color:lightyellow;
 }

/* -------------- ostatni ---------------- */

.scriptsize { 
              color:red;
              font-size: 8pt;
 }

.attrname { 
            color:chocolate;
            white-space:nowrap;
 }

.list-comment { 
         color:firebrick;
         font-weight:bold;
 }

.occurrences { 
            font-size:8pt;
 }



/* ------- casti ramce word-entry -------------- */

.headword {
                 color:firebrick;
                 font-size: 18pt;
                 font-weight:bold;
            }
table.headword {
                 width: 100%;
               }

.bigscriptsize { 
                   font-size: 12pt;
                 color:red;
                 }

.small_aspect { 
                 font-size: 8pt;
             }

 
.headword_aspect { 
                   font-size: 10pt;
                 }

.gloss { 
         font-weight:bold;
 }

TABLE.frame-number { 
                 border: solid 2px firebrick;   
                 color: firebrick;    
           font-weight:bold;
 }
TABLE.frame-number-ref {
           border: solid 1px firebrick;
 }
TABLE.frame-number-ref td {
           color: firebrick;
           font-size: x-small;
           font-weight:normal;
}

/*  ----------- vlastni ramec -----------------*/

.functor {
           font-size: 14pt;
           color:firebrick;
           font-weight:bold;
}

.functor_typ {
           font-size: 14pt;
           color:firebrick;
/*           font-weight:bold; */
}


.forms {
           font-size: 10pt;
}

.type {
           font-size: 10pt;
}

.pdtvallex-wlinks {
           font-size: 14pt;
           font-weight:normal;
           text-align:right;
           padding: 0px 10px;
           border: 1px solid firebrick;
           width: 5.5em;
}

.pdtvallex-wlinks a {
           font-size: 12pt;
           font-weight: bold;
           color: red;
}

.invisible { 
             display:none;
 }
